{% extends 'base.html.twig' %}
{% block title %}Hello TournoiController!{% endblock %}
{% block body %}
    <container style="align-content: center">

        <h2 class="text-center"><span class="sub-title2 mt-5 "> succées d'inscription </span></h2>
    <br><br><br>
        <p >
     <h4 style="margin-left:100px">  Salut {{ current }} !  Votre inscription a bien été prise en compte </h4>
        <h5 style="margin-left:100px"> le tournoi {{ tournoi.nom }} commencera le {{ tournoi.time |format_datetime()}} , soyez au rendez vous sur
        la chaine discord suivante </h5>
        <br>
        <li style="margin-left: 650px">
            <a href="{{ tournoi.discordchannel }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16">
                    <path d="M13.545 2.907a13.227 13.227 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.19 12.19 0 0 0-3.658 0 8.258 8.258 0 0 0-.412-.833.051.051 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.041.041 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032c.001.014.01.028.021.037a13.276 13.276 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019c.308-.42.582-.863.818-1.329a.05.05 0 0 0-.01-.059.051.051 0 0 0-.018-.011 8.875 8.875 0 0 1-1.248-.595.05.05 0 0 1-.02-.066.051.051 0 0 1 .015-.019c.084-.063.168-.129.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.052.052 0 0 1 .053.007c.08.066.164.132.248.195a.051.051 0 0 1-.004.085 8.254 8.254 0 0 1-1.249.594.05.05 0 0 0-.03.03.052.052 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.235 13.235 0 0 0 4.001-2.02.049.049 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.034.034 0 0 0-.02-.019Zm-8.198 7.307c-.789 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612Zm5.316 0c-.788 0-1.438-.724-1.438-1.612 0-.889.637-1.613 1.438-1.613.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612Z"/>
                </svg>
            </a>
        </li>
        <br><br>
     <h4 style="margin-left:100px">  vous ete affecté avec {{ equipe.label }} : </h4>
        </p>
<br><br><br>
    <div class="col-md-6" style="margin-left: 450px">
        <div  class="team-box">
            <div class="team-logo"><a href="team.html" tabindex="-1"><img src="{{asset('assets/img/team/team-2-5.png')  }}" alt="Team Logo"></a></div>
            <h3 class="team-name h4"><a href="team.html" class="text-reset" >{{ equipe.label }}</a></h3>
            <span class="team-location">{{ tournoi.nbrjoueureq }}</span>
            <table class="table table-dark">
                <thead>
                <tr>
                    <th scope="col">num°</th>
                    <th scope="col">Nickname</th>
                </tr>
                </thead>
                <tbody>
                {% set var=equipe.joueurs|split('-') %}
                {% set ind=0 %}
                {% for v in var  %}
                    {% set ind=ind+1 %}
                    {% if v == '' %}

                    {% elseif  v != 'vide' %}
                        <tr class="table-success">
                            <th scope="row">{{ ind }}</th>
                            <td>  {{ v}} </td>
                        </tr>

                    {% elseif v == 'vide' %}
                        <tr class="table-danger">
                            <th scope="row">{{ ind }}</th>
                            <td> encore en attente</td>
                        </tr>
                    {% endif %}

                {% endfor %}

                </tbody>

            </table>


        </div>
    </div>
        <button class="vs-btn gradient-btn" style="margin-left: 650px"><a href="javascript:history.forward()">retour vers la liste des equipe</a></button>
    <br><br><br><br>
</container>
{% endblock %}