{% extends 'base.html.twig' %}

{% block title %}Hello ActualiteController!{% endblock %}

{% block body %}


 <div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay>
      <div class="container z-index-common">
        <div class="breadcumb-content text-center">
          <h1 class="breadcumb-title h1 text-white my-0">Evenement</h1>
          <h2 class="breadcumb-bg-title">Bienvenu</h2>
          <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
            <li>
              <a href="index.html">
                <i class="fal fa-home"></i>Home </a>
            </li>
            <li class="active">Evenement detail</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="vs-blog-wrapper blog-single-layout1 space-top newsletter-pb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="vs-blog">
            

    <div class="Tours">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>LISTE DES EVENEMENTS </h2>
                    </div>
                </div>
            </div>
            <section id="demos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">

                            {% for event in evenements %}

                                <div class="item">
                                    

                                    <img  src="../../public/uploads/images/event/{{ event.image }}" style="width:300px;height:200px;">

                                    <h2> Nom Evenement: {{ event.nomeven}}</h2>
                                    <h2> Date DEBUT: {{ event.datevent|date("m/d/Y") }}</h2>
                                    <h2> Date DEBUT: {{ event.datefin|date("m/d/Y") }}</h2>
                                    <h2> LIEUX: {{ event.lieuevent}}</h2>
                                    <p></p>
                                    <p></p>
                                </div>


                            {% endfor %}
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
            </div>
            
            
            <div class="vs-comment-form comment-form-layout1 mt-10 mb-30">
              <div class="form-title mb-20">
                <h3 class="mt-n2 font-theme text-normal mb-1">Laisser un commentaire a propos un evenement</h3>
                <p class="">Votre adresse email ne va pas etre affiché.</p>
              </div>
              <div class="row">
                <div class="col-12 form-group">
                  <textarea placeholder="Ecrivez votre message" rows="10" class="form-control bg-smoke"></textarea>
                  <i class="fal fa-pencil-alt me-2"></i>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" placeholder="Votre Nom" class="form-control bg-smoke">
                  <i class="fal fa-user me-2"></i>
                </div>
                <div class="col-md-6 form-group">
                  <input type="text" placeholder="Votre Email" class="form-control bg-smoke">
                  <i class="fal fa-envelope me-2"></i>
                </div>
                <div class="col-12 form-group pt-xl-20 mb-0">
                  <button class="vs-btn gradient-btn">Envoyer Message</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <aside class="sidebar-area sticky-top overflow-hidden">
              <div class="widget widget_search">
                <form class="search-form">
                  <input type="text" placeholder="Chercher ici">
                  <button type="submit">
                    <i class="far fa-search"></i>
                  </button>
                </form>
              </div>
              <h3 class="sidebox-title-v2 h5">Les Nouveauté</h3>
              <div class="vs-sidebox-v2 px-0 pb-0 pt-20 mb-0">
                <div class="nav nav-fill tab-menu1 tab-indicator bg-white" role="tablist">
                  <a class="nav-link active" id="recent-tab" data-bs-toggle="tab" href="#recent" role="tab" aria-controls="recent" aria-selected="true">Recent</a>
                  <a class="nav-link" id="popular-tab" data-bs-toggle="tab" href="#popular" role="tab" aria-controls="popular" aria-selected="false">Popular</a>
                  <a class="nav-link" id="latest-tab" data-bs-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">latest</a>
                </div>
              </div>
              <div class="tab-content">
                <div class="tab-pane show active" id="recent" role="tabpanel" aria-labelledby="recent-tab">
                  <div class="post-thumb-style1 vs-sidebox-v2 pb-1">
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-1.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">
{% for event in evenements %}
{{event.nomeven}}

{% endfor %}</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>
                            {% for event in evenements %}

{{event.datevent|date("d/m/y")}}

{% endfor %}
                 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-2.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">{% for event in evenements %}
{{event.nomeven}}

{% endfor %}</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-3.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">LOREM IPSUM IS SO UBIQU BECAUSE</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-4.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">BUT DESPITE ZEALOUS CRIES THE DEMISE</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="popular" role="tabpanel" aria-labelledby="popular-tab">
                  <div class="post-thumb-style1 vs-sidebox-v2 pb-1">
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-5.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">The General Sery vice Administr</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-6.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Lorem ipsum began as nonsensical</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-7.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Finibus Bonorum et Malorum century</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-8.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Until recently prev-ailing view assumed</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane" id="latest" role="tabpanel" aria-labelledby="latest-tab">
                  <div class="post-thumb-style1 vs-sidebox-v2 pb-1">
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-9.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">Richard McClintock, a Latin scholar</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-10.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">McClintock to a passage De Finibus</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-11.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">In particular, the garbled words</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                    <div class="vs-blog d-flex gap-3">
                      <div class="media-img">
                        <a href="blog-details.html">
                          <img src="assets/img/widget/recent-post-1-12.png" alt="Recent Post">
                        </a>
                      </div>
                      <div class="media-body align-self-center">
                        <h4 class="h5 blog-title font-theme lh-base mb-0">
                          <a href="blog-details.html">McClintock's eye for detail certainly</a>
                        </h4>
                        <div class="blog-meta link-inherit fs-xs mt-1">
                          <a href="blog.html">
                            <i class="fal fa-calendar-alt text-theme2"></i>June 21, 2021 </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <h3 class="sidebox-title-v2 h5">Sponsors</h3>
              <div class="vs-sidebox bg-smoke">
                <div class="row no-gutters g-2">
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-1.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-2.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-3.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="image-scale-hover">
                      <a href="#">
                        <img src="assets/img/widget/sidebbox-img-4.jpg" class="w-100" alt="Sidebox Image">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
  
{% endblock %}
