{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row ">
                <div class="col-12 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Liste des jeux</h4>
                            <a class="text-warning" href="{{ path('ajout_jeu') }}"><i class="mdi mdi-database-plus"></i> Nouveau jeu</a>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>nom</th>
                                        <th>Image</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for jeu in jeux %}
                                        <tr>
                                            <td>{{ jeu.id }}</td>
                                            <td><span class="ps-2">{{ jeu.nom }}</span></td>
                                            <td><img src="../../uploads/{{ jeu.image }}"></td>

                                            <td>
                                                <form method="post" action="{{ path('supprimer_jeu', {'id': jeu.id}) }}" onsubmit="return confirm('vous etes sure de vouloir supprimer ?');">
                                                    <div style="margin-left: auto; margin-right: auto;">
                                                        <a class="text-warning" href="{{ path('voir_jeu', {'id': jeu.id}) }}"><i class="mdi mdi-eye"></i></a>
                                                        <a href="{{ path('modifier_jeu', {'id': jeu.id}) }}"><i class="mdi mdi-tooltip-edit"></i></a>
                                                        <button class="text-danger" style="font-size: 14px;background:none; border:none;margin:0;padding:0;cursor: pointer;text-decoration: underline red;" class="btn" type="submit"><i class="mdi mdi-delete"></i></button>

                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="3">Aucun jeu trouvée</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
