{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="main-panel">
          <div class="content-wrapper"> 
            <div class="row ">
              <div class="col-12 grid-margin">
                 <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des produits</h4>
                        <a class="text-warning" href="{{ path('ajout_produits') }}"><i class="mdi mdi-database-plus"></i> Nouveau produit</a>
                        <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Stock</th>
                                    <th>Prix</th>
                                    <th>Promo</th>
                                    <th>Ref</th>
                                    <th>actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for produit in produits %}
                                <tr>
                                    <td>{{ produit.id }}</td>
                                    <td><span class="ps-2">{{ produit.titre }}</span></td>
                                    <td>{{ produit.description }}</td>
                                    <td>{{ produit.stock }}</td>
                                    <td>{{ produit.prix }}</td>
                                    <td>{{ produit.promo ? 'Yes' : 'No' }}</td>
                                    <td>{{ produit.ref }}</td>
                                    
                                    <td>
                                        <form method="post" action="{{ path('supprimer_produits', {'id': produit.id}) }}" onsubmit="return confirm('vous etes sure de vouloir supprimer ?');">
                                            <div style="margin-left: auto; margin-right: auto;">
                                            <a class="text-warning" href="{{ path('voir_produits', {'id': produit.id}) }}"><i class="mdi mdi-eye"></i></a>
                                            <a href="{{ path('modifier_produits', {'id': produit.id}) }}"><i class="mdi mdi-tooltip-edit"></i></a>
                                            <button class="text-danger" style="font-size: 14px;background:none; border:none;margin:0;padding:0;cursor: pointer;text-decoration: underline red;" class="btn" type="submit"><i class="mdi mdi-delete"></i></button>
                                            
                                    </td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">Aucun produit trouvée</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
