{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="main-panel">
          <div class="content-wrapper"> 
            <div class="row ">
              <div class="col-12 grid-margin">
                 <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des evenements</h4>
                        <a class="text-warning" href="{{ path('ajout_evenements') }}"><i class="mdi mdi-database-plus"></i> Nouveau evenement</a>
                        <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Lieu</th>
                                    <th>Date de debut</th>
                                    <th>Heure</th>
                                    <th>Date de fin</th>
                                    <th>Nombre de place</th>
                                    <th>Image</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                                <tbody>
                                {% for event in evenements %}
                                    <tr>
                                        <td>{{event.id}}</td>
            
        <td>{{event.nomeven}}</td>
        <td>{{event.lieuevent}}</td>
         <td>{{event.datevent|date("d/m/y")}}</td>
         <td>{{event.heurevent|format_time("short")}}</td>
         <td>{{event.datefin|date("d/m/y")}}</td>
         <td>{{event.nbrplace}}</td>
         <td><img src="/uploads/event/{{event.image}}"></td>
         <td>{{event.description}}</td>
         
                                        <td>
                                            
                                            <form method="post" action="{{ path('supprimer_evenements', {'id': event.id}) }}"onsubmit="return confirm('Etes-vous sure de supprimer cet evenement?');">
                                            <div style="margin-left: auto; margin-right: auto;">
                                            <a class="text-warning" href="{{ path('voir_evenements', {'id': event.id}) }}"><i class="mdi mdi-eye"></i></a>
                                            <a href="{{ path('modifier_evenements', {'id': event.id}) }}"><i class="mdi mdi-tooltip-edit"></i></a>
                                            <button class="text-danger" style="font-size: 14px;background:none; border:none;margin:0;padding:0;cursor: pointer;text-decoration: underline red;" class="btn" type="submit"><i class="mdi mdi-delete"></i></button>
                                            

                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">Aucun evenement trouvé</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
