{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="main-panel">
          <div class="content-wrapper"> 
            <div class="row ">
              <div class="col-12 grid-margin">
                 <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Liste des catégories</h4>
                        <a class="text-warning" href="{{ path('ajout_categories') }}"><i class="mdi mdi-database-plus"></i> Nouvelle catégorie</a>
                        <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nom</th>
                                    <th>Action</th>
                                </tr>
                                <tbody>
                                {% for category in categories %}
                                    <tr>
                                        <td>{{ category.id }}</td>
                                        <td>{{ category.nom }}</td>
                                        <td>
                                            
                                            <div style="margin-left: auto; margin-right: auto;">
                                                <a class="text-warning" href="{{ path('voir_categories', {'id': category.id}) }}"><i class="mdi mdi-eye"></i></a>
                                                <a href="{{ path('modifier_categories', {'id': category.id}) }}"><i class="mdi mdi-tooltip-edit"></i></a>
                                                <a href="{{ path('supprimer_categories', {'id': category.id}) }}"   onclick="return confirm('vous etes sure de vouloir supprimer ?');"><i class="mdi mdi-delete" style="color:red;"></i></a>
                                                

                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">Aucune catégorie trouvée</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}
