<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TournamentLegacy - Inscription</title>

    <link rel="shortcut icon" href="images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="{{asset('assets/admin/login/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/admin/login/css/fontawesome.min.css')}}">
    <link rel="stylesheet" href="{{asset('assets/admin/login/css/slick.css')}}">
    <link rel="stylesheet" href="{{asset('assets/admin/login/css/nice-select.css')}}">
    <link rel="stylesheet" href="{{asset('assets/admin/login/css/animate.css')}}">
    <link rel="stylesheet" href="{{asset('assets/admin/login/css/style.css')}}">
</head>

<body>

<!-- start preloader -->
<div class="preloader" id="preloader"></div>
<!-- end preloader -->

<!-- Login Reg In start -->
<section id="login-reg">
    <div class="overlay pb-120">
        <div class="container">
            <div class="top-area">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-5 col">
                        <a class="back-home" href="/home">
                            <img src="{{asset('assets/admin/login/images/left-icon.png')}}" alt="image">
                            Retourner à l'accueil
                        </a>
                    </div>
                    <div class="col-sm-5 col">
                        <a href="#">
                            <img src="{{asset('assets/img/logo.png')}}" style="margin-left: -74px; width: 323px; position: absolute; z-index: 1;" alt="image">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row pt-120 d-flex justify-content-center">
                <div class="col-lg-6">
                    <div class="login-reg-main text-center">
                        <h4>INSCRIPTION</h4>
                        <div class="form-area">
                                <div class="form-group">
                                    {{ form_start(form) }}
                                    {{ form_row(form.username) }}
                                    {{ form_row(form.email) }}
                                    {{ form_row(form.plainPassword.first) }}
                                    {{ form_row(form.plainPassword.second) }}

                                </div>
                                <div class="form-group">
                                    <button type="submit" class="cmn-btn">Inscription</button>
                                </div>
                                {{ form_end(form) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login Reg In end -->

<script src="{{asset('assets/admin/login/js/jquery-3.5.1.min.js')}}"></script>
<script src="{{asset('assets/admin/login/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/admin/login/js/slick.js')}}"></script>
<script src="{{asset('assets/admin/login/js/jquery.nice-select.min.js')}}"></script>
<script src="{{asset('assets/admin/login/js/fontawesome.js')}}"></script>
<script src="{{asset('assets/admin/login/js/jquery.counterup.min.js')}}"></script>
<script src="{{asset('assets/admin/login/js/jquery.waypoints.min.js')}}"></script>
<script src="{{asset('assets/admin/login/js/wow.js')}}"></script>
<script src="{{asset('assets/admin/login/js/main.js')}}"></script>

</body>

</html>