{% extends 'base.html.twig' %} 
{% block body %} 
<div class="breadcumb-wrapper breadcumb-layout1 pt-200 pb-50" data-bg-src="assets/img/breadcumb/breadcumb-1.jpg" data-overlay>
  <div class="container z-index-common">
    <div class="breadcumb-content text-center">
      <h1 class="breadcumb-title h1 text-white my-0">{{produit.titre}}</h1>
      <h2 class="breadcumb-bg-title">PRODUIT</h2>
      <ul class="breadcumb-menu-style1 text-white mx-auto fs-xs">
        <li>
          <a href="/home">
            <i class="fal fa-home">Accueil</i>
          </a>
        </li>
        <li>
          <a href="{{ path('listeproduits',{"id":produit.categories.id}) }}">
            <i class="active">{{produit.categories}}</i>
          </a>
        </li>
        <li class="active">{{produit.titre}}</li>
      </ul>
    </div>
  </div>
</div>
<section class="vs-product-details space-top space-md-bottom">
  <div class="container">
    <div class="position-relative z-index-common py-lg-60">
      <div class="product-details-shape bg-smoke" style="max-width: 100%;"></div>
      <div class="row">
        <div class="col-lg-6">
          <div class="product-main-img text-center pt-30 pt-lg-60">
            <div class="product-share">
              <a href="#" class="icon1 text-reset">
                <i class="fal fa-share-alt fs-20"></i>
              </a>
            </div>
            <span class="label">{{produit.promo}}%</span>
            <img src="/uploads/{{produit.image}}" class="zoom-img" alt="{{produit.titre}}">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="product-about">
            <div class="mb-2"></div>
            <h3 class="product-name font-theme text-normal">{{produit.titre}}</h3> {% if produit.promo is null %} <h4 class="product-price text-theme2">{{produit.prix | number_format(0, ',', ' ')}} DT</h4> {%else%} {% set prix = (produit.prix * produit.promo)/100 %} <h4 class="product-price text-theme2" style="text-decoration: line-through;">{{produit.prix}} DT</h4>
            <h3 class="product-price text-theme2">{{prix}} DT</h3> {%endif%}
            <hr class="border-dashed-light mt-25 mb-20">
            <p class="mb-2">{{produit.description}}</p>
            <div class="cart-btn-group">
              <div class="quantity-box me-2 d-flex d-md-inline-flex d-lg-flex d-xl-inline-flex mb-3 mb-xl-0">
                <button class="quantity-minus qut-btn">
                  <i class="far fa-minus"></i>
                </button>
                <input type="text" value="1" class="qty-input">
                <button class="quantity-plus qut-btn">
                  <i class="far fa-plus"></i>
                </button>
              </div>
              <a href="#" class="vs-btn">Ajouter au panier</a>
              <a href="#" class="icon-btn3">
                <i class="far fa-heart"></i>
              </a>
              <a href="#" class="icon-btn3">
                <i class="far fa-search"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-40 pt-lg-60">
      <ul class="nav nav-tabs tab-menu2" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="desc-tab" data-bs-toggle="tab" href="#desc" role="tab" aria-controls="desc" aria-selected="true">Description</a>
        </li>
        <li class="nav-item" role="presentation"> 
        {% set j = 0 %} 
        {% for i in produit.commentaires %} 
        {% set j = j + 1 %} {% endfor %} 
        <a class="nav-link active" id="review-tab" data-bs-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Commentaires ({{j}})</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane" id="desc" role="tabpanel" aria-labelledby="desc-tab">
          <p class="mt-n1">{{produit.longdescription}}.</p>
          <ul class="product-list mb-15"></ul>
        </div>
        <div class="tab-pane show active" id="review" role="tabpanel" aria-labelledby="review-tab">
          <div class="vs-comment-area list-style-none vs-comments-layout1">
            <ul class="comment-list"> {% for komm in produit.commentaires %} <li class="vs-comment">
                <div class="vs-post-comment">
                  <div class="author-img">
                  {% set i= random(6) %}
                    <img src="{{asset('assets/avatar/'~i~'.png')}}" alt="{{komm.user.getUsername()}}">
                  </div>
                  <div class="comment-content">
                    <div class="comment-top">
                      <div class="comment-author">
                        <h4 class="name">{{komm.user.getUsername()}}</h4>
                        <h6 class="name">{{komm.date |date('d-m-Y h:i:s')}}</h6>
                        <div class="mb-10">
                          <span class="commented-on"></span>
                        </div>
                      </div>
                    </div>
                    <p class="text">{{komm.message}}</p>
                  </div>
                </div>
              </li> {% endfor %} </ul>
              {{ form_start(form1) }}
    {{ form_widget(form1) }}
{{ form_end(form1) }}
          </div>
          <div class="col-12 form-group pt-xl-20 mb-0"> {% if app.user %} <button class="vs-btn gradient-btn" href="{{ path('ajout_commentaire', {'id': produit.id}) }}" onclick="window.open('{{ path('ajout_commentaire', {'id': produit.id}) }}', 
                         'newwindow', 
                         'width=300,height=250'); 
              return false;">AJOUTER UN COMMENTAIRE</button> {% else %} <button class="vs-btn gradient-btn" href="/connexion">CONNEXION</button> {% endif %} </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="vs-product-wrapper vs-product-layout2 newsletter-pb">
  <div class="container">
    <h2 class="mt-n2 font-theme text-normal mb-4">Produits liées</h2>
    <div class="row vs-carousel arrow-margin" data-slide-show="3" data-md-slide-show="2" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="true"> {% for produitx in produits %} <div class="col-sm-6 col-lg-4">
        <div class="vs-product">
          <div class="product-img">
            <a href="shop-details.html">
              <img style="height: 300px;" src="/uploads/{{produitx.image}}" class="w-100" alt="{{produitx.titre}}">
            </a>
            <div class="cart-btn-group">
              <a href="#" class="icon-btn3">
                <i class="far fa-heart"></i>
              </a>
              <a href="#" class="vs-btn">Ajouter au panier</a>
              <a href="#" class="icon-btn3">
                <i class="far fa-search"></i>
              </a>
            </div>
          </div>
          <div class="product-content">
            <div class="text-yellow fs-xs mb-2">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>
            <h3 class="product-name text-normal font-theme fs-20 lh-base mb-2">
              <a class="text-inherit" href="shop-details.html">{{produitx.titre}}</a>
            </h3> {% if produitx.promo is null %} <h4 class="product-price text-theme2">{{produitx.prix}} DT</h4> {%else%} {% set prix = (produitx.prix * produitx.promo)/100 %} <h4 class="product-price text-theme2" style="text-decoration: line-through;">{{produitx.prix}} DT</h4>
            <h3 class="product-price text-theme2">{{prix}} DT</h3> {%endif%}
          </div>
        </div>
      </div> 
      {% endfor %} 
    </div>
  </div>
  </div>
</section>


<section class="vs-newsletter-wrapper bg-dark z-index-step1">
  <div class="container">
    <div class="position-relative">
      <div class="inner-wrapper bg-black position-absolute top-50 start-50 translate-middle w-100 px-60 py-40">
        <div class="row align-items-center justify-content-center">
          <div class="col-xl-6 text-center text-xl-start mb-3 mb-xl-0">
            <span class="sub-title2 mt-2">Newsletter</span>
            <h2 class="mb-0 text-white">get monthly updates</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-6">
            <form action="#" class="newsletter-style1 d-md-flex">
              <input type="email" class="form-control" placeholder="Enter email address">
              <button class="vs-btn gradient-btn">Subscribe Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
{% endblock %}