{% extends 'base.html.twig' %}



{% block body %}

                        <head>
                        <title>Page Title</title>
                        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
                       </head>
                     
                      
                       

<body onload="change()">
    <section class="vs-product-wrapper vs-product-layout2 space-top newsletter-pb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="row align-items-center mb-30">
              <div class="col-xl-5">
              {% set j = 0 %} 
        {% for i in produits %} 
        {% set j = j + 1 %} {% endfor %} 
                <p class="mb-0">Affichage du 1–{{j}} produit(s)</p>
              </div>
              <div class="col-xl-7 mt-3 mt-xl-0">
                <div class="sort-btn d-flex flex-wrap justify-content-between justify-content-xl-end align-items-start">
                  <select class="form-select form-select-lg" aria-label=".form-select-lg example" onchange="location = this.value;">
                    <option selected="selected">Nouveau produits 🆕</option>
                    <option value="/boutique/DESC" selected="selected">Tri décroissant 🔽</option>
                    <option value="/boutique/ASC" >Tri croissant 🔼</option>
                    <option value="/boutique/FLASH">Tri par promotion 📢</option>
                  </select>
                  
                </div>
              </div>
            </div>
            
  

   <div class="row">
    {% set comp = 0 %}
      {% for produit in produits %}
 
            {% set comp = (comp + produit.stock) %}
            {% if (comp == 0) %}
                   <h1> la boutique est vide pour l'instant</h1>
            {% else %}
                   {% include 'boutique/produit.html.twig' with {produit: produit,ratis:ratis} only %}
            {% endif %}
    {% endfor %}
   

  
     
           
          </div>
           <div style="margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;">{{ knp_pagination_render(produits) }}</div>
  </div>
          <div class="col-lg-4">
            <aside class="sidebar-area sticky-top overflow-hidden">
              <div class="widget widget_search">
                {{ form(formSearch) }}
              </div>
              
              <h3 class="sidebox-title-v2 h5">Categories</h3>
              <div class="vs-sidebox-v2">
                <ul class="vs-cat-list1">
                 {% for categorie in categories %}
                 
    
                  <li>
                    <a href=" {{ path('listeproduits',{"id":categorie.id}) }}">{{categorie.nom}}</span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
              
            </aside>
          </div>
        </div>
      </div>
    </section>
    </body>
{% endblock %}
