
 {% block body %}
 
 <div class="col-sm-6">
                <div class="vs-product">
                  <div class="product-img">
                  {% if produit.flash %}
                  {% set prix = (produit.prix * produit.promo)/100 %}
                  <span class="label">{{produit.promo}}%</span>
                  {% endif %}
                    <a href="{{ path('show',{"id":produit.id,"titre":produit.titre}) }}">
                      <img src="../../uploads/{{produit.image}}" style="height: 300px;" class="w-100" alt="{{produit.titre}}">
                    </a>
                    <div class="cart-btn-group">
                      <a href="#" class="icon-btn3">
                        <i class="far fa-heart"></i>
                      </a>
                      <a href="{{ path('cart_add', {'id': produit.id }) }}" class="vs-btn">Ajouter au panier</a>
                      <a href="#" class="icon-btn3">
                        <i class="far fa-search"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-content">
                    <div class="text-yellow fs-xs mb-2">
                      {% set comp = 0 %}
                         {% for j in ratis %}
                        
                        {% if produit.getId() == j.getUserCode() %}
                        {% set comp = j.getRating() %}
                       {% endif %}
                        {% endfor %}
               {% if comp ==5 %}          
              {% for b in 1..comp %}
                 <i class="fas fa-star"></i>
              {% endfor %}
              {% else %}
              {% for b in 1..comp %}
                 <i class="fas fa-star"></i>
              {% endfor %}
              {% for b in comp..4 %}
                 <i class="fas fa-star" style ="font-weight: inherit;"></i>
              {% endfor %}
              {% endif %}



              
                    </div>
                    <h3 class="product-name text-normal font-theme fs-20 lh-base mb-2">
                      <a class="text-inherit" href="">{{produit.titre}}</a>
                    </h3>
                    
                    {% if produit.promo is null %}
                        <h4 class="product-price text-theme2">{{produit.prix |number_format(1, '.', ',')}} DT</h4>
                    {%else%}
                    {% set prix = (produit.prix * produit.promo)/100 %} {% set prix = (produit.prix - prix) %}
                        <h4 class="product-price text-theme2" style="text-decoration: line-through;">{{produit.prix |number_format(1, '', ',')}} DT</h4>
                        <h3 class="product-price text-theme2">{{prix |number_format(1, '.', ',')}} DT</h3>
                    {%endif%}
                  </div>
                </div>
              </div>
              {% endblock %}
              
              
