{% extends 'base.html.twig' %}

{% block body %}

    <!-- partial -->
    <div class="container-fluid">
        <div class="row row-offcanvas row-offcanvas-right">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
                <div class="user-info">
                    <img src="{{asset('assets/images/faces/face1.jpg')}}" alt="">
                    <p class="name">AZERTY CREW ADMIN</p>
                    <p class="designation">Fares</p>
                    <span class="online"></span>
                </div>
                <ul class="nav">
                    <li class="nav-item active">


                        <span class="menu-title">Dashboard</span>
                        </a>
                    </li>

                    </li>
                    <li class="nav-item">

                        <span class="menu-title">Utilisateur</span>
                        </a>
                    </li>
                    <li class="nav-item">

                        >
                        </a>
                    </li>

                    <li class="nav-item">

                        </a>
                    </li>
                    <li class="nav-item">


                        <span class="menu-title">Commande</span>
                        </a>
                    </li>
                    <li class="nav-item">


                        </a>
                    </li>
                    <li class="nav-item">
                        >
                        </a>
                    </li>
                    <li class="nav-item">

                        <span class="menu-title">Tables</span>
                        </a>
                    </li>
                    <li class="nav-item">


                        </a>
                    </li>
                    <li class="nav-item">

                        </a>
                    </li>

                </ul>
            </nav>
            <div class="content-wrapper">
                <h3 class="page-heading mb-4">Charts</h3>
                <div class="row">
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">

                                <canvas id="commande"  style="height:250px"></canvas>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <canvas id="commandes" style="height:250px"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

    <script>

        var pr = document.querySelector("#commande")
        let graph = new Chart(pr, {
                type: "bar",
                data: {
                    labels: {{ id_product  | raw }},
                    datasets: [{
                        label: ['Commande en fonction de leurs quantite acheté '],
                        data: {{ quantitydemande| raw }},
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1

                    }]
                },
            }
        )


        let pr1 = document.querySelector("#commandes")
        let graph1 = new Chart(pr1, {
            type: "pie",
            data: {


                labels: {{id_product  | raw }},
                datasets: [{
                    label: ['Repartition par quantite acheter'],
                    data: {{  quantitydemande| raw }},

                    backgroundColor: ['pink', 'blue', 'green', 'yellow','black','brown']
                }]

            }
        })

    </script>
{% endblock %}